<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./partials/links.ejs") %>
        <link href="/styles/mainstyle.css" rel="stylesheet">
        <link href="/styles/phone-main.css" rel="stylesheet">
        <link href="/styles/cartstyle.css" rel="stylesheet">
        <title>LilacKvety - Košík</title>
</head>

<body>
    <header>
        <corner>
            <div class="full-header">
                <img class="logo" title="LilacKvety" src="./images/const/LilacLogo.png" onclick="location = '/'">
            </div>
            <div class="contacts">
                <div class="phone"><a href="tel:+421948482323">+421 948 482 323</a></div>
                <div class="addr">
                    <p><a href="https://maps.app.goo.gl/zpVjX7GjKbiwKMjM6" target="_blank">Banská Bystrica, ul. 29
                            augusta 25</a>
                    </p>
                </div>
            </div>
            <nav>
                <div id="search">
                    <div class="search-bar">
                        <input type="text" placeholder="Hľadanie" class="search-input">
                        <i class="fa fa-search" id="search-button"></i>

                    </div>
                    <ul class="search-list">

                    </ul>
                </div>
            </nav>
            <div class="cart-wrapper">
                <div class="cart">
                    <i class="fa fa-shopping-cart cart-icon"></i>
                    <div class="cart-item-count"></div>
                </div>
                <ul class="cart-items">
                </ul>
            </div>
        </corner>

    </header>

    <div class="cart-main">
        <div class="cart-header">
            <p>Košík</p>
            <div class="cart-line"></div>
        </div>
        <div class="cart-data">
            <ul class="info-block">
                <li><b>Garancia čerstvosti pri doručení</b></li>
                <li>Minimálna hodnota objednávky 18,99 EUR</li>
                <li>Kvety doručené v <b>darčekovej krabici</b> kamkoľvek na Slovensku.</li>
                <li>Možnosť priložiť <b>venovanie</b> v profesionálnom prevedení.</li>
                <li>Jednoduché a rýchle vystavenie <b>objednávky len v 4 krokoch.</b></li>
            </ul>
            <div class="cart-content">

            </div>
        </div>
        <div class="cart-checkout">
            <div class="promocode">
                <p class="promo-header">Zľavový kód</p>
                <div class="p-buttons">
                    <input type="text" class="promo-input">
                    <div class="try-promo">Použiť</div>
                </div>
            </div>
            <p class="cart-summ">Spolu 999.99 s DPH</p>
            <div class="checkout-buttons">
                <div class="back-to-shop">Späť do eshopu</div>
                <div class="confirm-cart">Pokračovať</div>
            </div>
        </div>
    </div>

    <%- include("./partials/cartscript.ejs") %>
</body>

</html>