<script>
    $(document).ready(function () {
        let cart = JSON.parse(localStorage.getItem("cart"))
        let count = cart.length
        let step = localStorage.getItem("cart_step")
        if (step == undefined) localStorage.setItem("cart_step", 0)
        console.log(localStorage.getItem("cart_step"))
        if (count <= 0) {
            $(".cart-item-count").css("opacity", "0")
            location = '/'
        }
        else {
            $(".cart-item-count").css("opacity", "100")
        }
        if (count > 9) count = "9+"
        $(".cart-item-count").html(count)

        let cart_content = JSON.parse(localStorage.getItem("cart"))
        if (cart_content.length > 0) {
            showCartContent(cart_content)
        }

        $("html").on("click", '.edit-flower-count-up', function () {
            let id = $(this).parent().parent().attr("id")
            editFlowerCount(id, true)
        })
        $("html").on("click", '.edit-flower-count-down', function () {
            let id = $(this).parent().parent().attr("id")
            editFlowerCount(id, false)
        })

        function editFlowerCount(id, side) {
            let flower = cart_content.find(x => Number(x.flowerId) === Number(id))
            if (flower.flowerCount <= 1 && !side) {
                Swal.fire({
                    title: `Odstrániť z košíka?`,
                    icon: "question",
                    showDenyButton: true,
                    confirmButtonText: "Potvrdiť",
                    denyButtonText: "Zrušiť"
                })
                    .then(result => {
                        if (result.isConfirmed) {
                            deleteFlowerFromCart(id)
                            alertify.message('Odstránené z košíka')
                        }
                    })
                return
            }
            let index = cart_content.indexOf(flower)
            let actualprice = parseFloat(flower.flowerPrice) / flower.flowerCount
            if (side) flower.flowerCount++
            else flower.flowerCount--
            flower.flowerPrice = String(Number(actualprice * flower.flowerCount).toFixed(2))
            cart_content[index] = flower
            showCartContent(cart_content)
        }


        $("html").on("click", ".delete-flower-cart", function () {
            let id = $(this).parent().attr("id")
            Swal.fire({
                title: `Odstrániť z košíka?`,
                icon: "question",
                showDenyButton: true,
                confirmButtonText: "Potvrdiť",
                denyButtonText: "Zrušiť"
            })
                .then(result => {
                    if (result.isConfirmed) {
                        deleteFlowerFromCart(id)
                        alertify.message('Odstránené z košíka')
                    }
                })
        })

        function deleteFlowerFromCart(id) {
            let flower = cart_content.find(x => Number(x.flowerId) === Number(id))
            let index = cart_content.indexOf(flower)
            cart_content.splice(index, 1)
            if (cart_content.length <= 0) location = "/"
            showCartContent(cart_content)
        }

        $(".confirm-cart").on("click", function () {
            step = 1
            cartProceed(step)
        })
        $("html").on("click", ".delivery-type-select > *", function () {
            if ($(this).attr("class").split(" ")[1] == "active-delivery") return
            showOrderUI(Boolean(Number($(this).attr("id"))))

            for (let i = 0; i < 2; i++) {
                let el = $(this).parent().find("div").eq(i)
                if ($(el).attr("class").split(" ")[1] == "unactive-delivery") {
                    $(el).removeClass("unactive-delivery")
                    $(el).addClass("active-delivery")
                }
                else {
                    $(el).addClass("unactive-delivery")
                    $(el).removeClass("active-delivery")
                }
            }

        })
    })



    function cartProceed(step) {
        if (step == 1) {
            showOrderUI()
        }
    }


    function showOrderUI(type = false) {
        $('.cart-content').html("")
        let orderui =
            `
        <form class="order-ui">
            <div class="order-punkt">
                <p class="order-ui-subheader"><b>Spôsob prevzatia objednávky</b></p>
                <div class="delivery-type-select">
                    <div class="delivery-courier unactive-delivery" id="0">Dorucenie kurierom &#x2022; 5€</div>
                    <div class="delivery-self active-delivery" id="1">Osobny order</div>
                </div>
            </div>
            <div class="order-punkt">
                <p class="order-ui-subheader"><b>Komu bude objednávka doručená</b></p>
                <input type="text" class="name-input" placeholder="Meno" required>
                <input type="text" class="surname-input" placeholder="Priezvisko" required>
                <input type="tel" class="surname-input" placeholder="Telefón (formát +421)" required>
            </div>
            <div class="order-punkt">
                <p class="order-ui-subheader"><b>Kam bude objednávka doručená</b></p>
                    ${getOrderPlace(type)}
                </div>
            <div class="order-punkt op-calendar">
                <p class="order-ui-subheader"><b>Kedy bude objednávka doručená</b></p>
                <input type="date" class="calendar" />
                <input type="time" class="order-time" />
            </div>
        </form>
        `
        $('.cart-header > p').html("Košík > Dodanie")
        $('.cart-content').html(orderui)

        var yesterday = new Date(Date.now() - 86400000);
        $('.calendar').pignoseCalendar({
            buttons: true,
            week: 1,
            weeks: ['Ne', 'Po', 'Ut', 'St', 'Št', 'Pi', 'So'],
            disabledRanges: [
                ["0001-01-01", yesterday.toISOString().split("T")[0]]
            ],
        })
    }

    function getOrderPlace(type) {
        if (type) return `
                <p class="country-subheader">Krajina doručenia <b>Slovensko</b></p>
                <p class="country-subheader">Mesto <b>Banská Bystrica (97401)</b></p>
                <input type="text" class="street-input" placeholder="Ulica" required>
                <input type="tel" class="house-number-input" placeholder="Číslo domu" required>
                <input type="tel" class="firm-name-input" placeholder="Názov firmy">
        
        `
        else return `aboba`

    }


    function showCartContent(cart_content) {
        $(".cart-content").html("")
        let cart_summ = 0.0
        cart_content.forEach(cart_item => {
            $(".cart-content").append(`<div class="cart-flower" id="${cart_item.flowerId}">${createFlowerItem(cart_item)}</div>`)
            cart_summ += parseFloat(cart_item.flowerPrice)
        })

        $(".cart-summ").html(`Spolu €${Number(cart_summ).toFixed(2)} s DPH`)
        localStorage.setItem("cart", JSON.stringify(cart_content))
    }

    function createFlowerItem(flower) {
        return `
            <img src="${flower.flowerImage}" class="cart-flower-image">
            <p class="cart-flower-name">${flower.flowerName}</p>
            <div class="flow-count">
                <i class="fa fa-arrow-up edit-flower-count-up"></i>
                <p class="cart-flower-count">${flower.flowerCount} ks</p>
                <i class="fa fa-arrow-down edit-flower-count-down"></i>
            </div>
            <p class="cart-flower-price">€${flower.flowerPrice}</p>
            <i class="fa fa-trash delete-flower-cart"></i>
        `
    }

    $(".back-to-shop").on("click", function () {
        location = "/"
    })

</script>