
        <ul class="Квіти item-category">
        <p>Квіти <arrow>⯆</arrow>
        </p>
        <div class="list-items">
                <li class="Зав'ялі item-subcategory"><a href="#Зав'ялі">Зав'ялі</a></li>
                <li class="Троянда item-subcategory"><a href="#Троянда">Троянда</a></li>
                <li class="Різа item-subcategory"><a href="#Різа">Різа</a></li>
                <li class="Гіпсофіла item-subcategory"><a href="#Гіпсофіла">Гіпсофіла</a></li>
                <li class="Ромашка item-subcategory"><a href="#Ромашка">Ромашка</a></li>
                <li class="Ромашка item-subcategory"><a href="#Ромашка">Ромашка</a></li>
                <li class="Ромашка item-subcategory"><a href="#Ромашка">Ромашка</a></li>
        <li class="qwe item-subcategory"><a href="#qwe">qwe</a></li><li class="zxcczxczx item-subcategory"><a href="#zxcczxczx">zxcczxczx</a></li></div>
</ul>
<ul class="Букети item-category">
        <p>Букети<arrow>⯆</arrow>
        </p>
        <div class="list-items">
                <li class="Свіжі item-subcategory"><a href="#Свіжі">Свіжі</a></li>
                <li class="Ромашка item-subcategory"><a href="#Ромашка">Ромашка</a></li>
                <li class="Ромашка item-subcategory"><a href="#Ромашка">Ромашка</a></li>
                <li class="Ромашка item-subcategory"><a href="#Ромашка">Ромашка</a></li>
                <li class="Ромашка item-subcategory"><a href="#Ромашка">Ромашка</a></li>
                <li class="Ромашка item-subcategory"><a href="#Ромашка">Ромашка</a></li>
                <li class="Ромашка item-subcategory"><a href="#Ромашка">Ромашка</a></li>
                <li class="Ромашка item-subcategory"><a href="#Ромашка">Ромашка</a></li>
        </div>
</ul>
<ul class="Вінчання item-category">
        <p>Вінчання<arrow>⯆</arrow>
        </p>
        <div class="list-items">
                <li class="Ромашка item-subcategory"><a href="#Ромашка">Ромашка</a></li>
                <li class="Ромашка item-subcategory"><a href="#Ромашка">Ромашка</a></li>
                <li class="Ромашка item-subcategory"><a href="#Ромашка">Ромашка</a></li>
                <li class="Ромашка item-subcategory"><a href="#Ромашка">Ромашка</a></li>
                <li class="Ромашка item-subcategory"><a href="#Ромашка">Ромашка</a></li>
                
        </div>
</ul>
<ul class="День_Чоловіка item-category">
        <p>День Чоловіка<arrow>⯆</arrow>
        </p>
        <div class="list-items"></div>
</ul>
<ul class="День_Жінки item-category">
        <p>День Жінки<arrow>⯆</arrow>
        </p>
        <div class="list-items"></div>
</ul>
<ul class="Акції item-category">
        <p>Акції<arrow>⯆</arrow>
        </p>
        <div class="list-items"></div>
</ul>
<ul class="Спеціальні_Пропозиції item-category">
        <p>Спеціальні Пропозиції<arrow>⯆</arrow>
        </p>
        <div class="list-items"></div>
</ul>


<ul class="Опа_Категорія item-category">
        <p>Опа Категорія<arrow>⯆</arrow>
        </p>
        <div class="list-items"></div>
</ul>
    