
        
        
        
        
    
                
                
                
    
                
    
    
                <group class="group-header">
                    <p>Top ponuka</p>
                    <div class="group Top_ponuka"></div>
                </group>
                <group class="group-header">
                    <p>Iba dnes</p>
                    <div class="group Iba_dnes"></div>
                </group>
                <group class="group-header">
                    <p>Mega zľavy</p>
                    <div class="group Mega_zľavy"></div>
                </group>