
        
        
    
                <group class="group-header">
                    <p>Група 1</p>
                    <div class="group Група_1"></div>
                </group>
                <group class="group-header">
                    <p>Група 2</p>
                    <div class="group Група_2"></div>
                </group>
                <group class="group-header">
                    <p>Група 3</p>
                    <div class="group Група_3"></div>
                </group>
    
                <group class="group-header">
                    <p>Detská kitica</p>
                    <div class="group Detská_kitica"></div>
                </group>