:root {
    --main-color: #0eb1d5;
    --button-color: #b8e9ff;
    --order-button-color: #0eb1d5;
    --sub-main-color: #b7d9e1;
    --modal-color: #a1dbf7;
    --bgclr: rgba(17, 188, 255, 0.1);
}

* {
    -webkit-text-stroke: 0.3px;

}

b {
    -webkit-text-stroke: 1.3px;

}

.swal2-container button {
    -webkit-text-stroke: 0px !important;
    font-size: 125% !important;
}

.swal2-container h2 {
    -webkit-text-stroke: 0px !important;
}

.cart-main {
    margin: -2.5% auto;
    width: 80vw;
}

.cart-header>p {
    font-size: 3.5vw;
}

.cart-header>.cart-line {
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
}

.cart-content {
    flex: 3.5;
    height: fit-content;
}

.info-block {
    flex: 1.2;
    padding: 1% 3% !important;
    font-size: 1.5vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    height: fit-content;
}

.info-block>li {
    margin: 4%;
}

.cart-data {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 6%;
    padding: 1.5vw;
}

.cart-flower {
    display: grid;
    grid-template-columns: 25% 37.5% 12.5% 18.75% 6.25%;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 1.4vw;
    /* grid-gap: 8%; */
    margin: 2% 0;
}

.cart-flower-price {
    font-size: 1.7vw;
}

.cart-flower-image {
    width: 11vw;
}

.flow-count>i {
    font-size: 70%;
    display: none;
    padding: 5%;
}

.flow-count:hover>i {
    display: block;
    cursor: pointer;
}

.flow-count>i:hover {
    color: var(--main-color);
    -webkit-text-stroke-color: var(--main-color);
    transition: 0.1s;
}

.flow-count {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.delete-flower-cart:hover {
    cursor: pointer;
    color: var(--main-color);
    -webkit-text-stroke-color: var(--main-color);
    transition: 0.3s;
    font-size: 125%;
}

.cart-checkout {
    width: 80vw;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.7vw;
}

.cart-checkout>* {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0.5vw 0;
}

.cart-checkout>*>* {
    margin-left: 8%;
}

.p-buttons {
    display: flex;
    width: 40%;
}

.promo-input {
    width: 80%;
    font-size: 1.5vw;
    -webkit-text-stroke: 0.6px;
    -webkit-text-stroke-color: var(--main-color);
}

.try-promo {
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 5%;
}

.try-promo:hover {
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
}

.back-to-shop {
    background-color: var(--button-color);
    border: 2px solid var(--button-color);
    padding: 0.6% 5%;
    border-radius: 7px;
}

.confirm-cart {
    background-color: var(--order-button-color);
    border: 2px solid var(--order-button-color);
    padding: 0.6% 5%;
    border-radius: 7px;
}

.confirm-cart:hover,
.back-to-shop:hover {
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
}

.cart-data>*,
.cart-checkout {
    background-color: var(--bgclr);
    padding: 0 3%;
    border-radius: 8px;
}