@font-face {
    font-family: 'Mofance'; 
    src: url('/Mofance.otf'); 
}

.active-block
{
    display: block !important;
}

.active-grid
{
    display: grid !important;
}

.active-flex
{
    display: flex !important;
}

.deactivated
{
    display: none !important;
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    font-family: 'Mofance', 'Montserrat', sans-serif;
    user-select: none;
}

:root {
    --main-color: #0eb1d5;
    --button-color: #b8e9ff;
    --order-button-color: #0eb1d5;
    --sub-main-color: #b7d9e1;
    --modal-color: #a1dbf7;
    --bgclr: rgba(97, 210, 255, 0.1);
}

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    top: 0;
    height: 15vw;
    padding-top: 1.6vw;
    width: 90vw;
    margin: 0 auto;
}

header>* {
    margin: 2%;

}

header .logo {
    width: 30vw;

}

.full-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30vw;
    position: relative;
}

.full-header .text-header {
    margin: 0;
    font-size: 3.3vw;
    font-weight: 600;
    color: var(--main-color);
}

.sub-image {
    transform: scale(1, -1);
    z-index: -5;
    width: 23vw;
}

magname {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

magname>p {
    font-size: 0.95vw;

}

nav {
    margin: 1vw auto;
    display: flex;
    width: 80%;
    height: 3vw;
    z-index: 10;
    resize: none;
}

nav>* {
    padding: .5vw;

}

nav>ul:hover {
    cursor: pointer;
}

/* nav>ul>.list-items {
    display: none;
    background-color: #a6def7;
    word-break: break-all;
    hyphens: auto;
    border-top: 1px solid var(--main-color);
    border-bottom: 3px solid var(--main-color);
    border-radius: 0 0 0.5vw 0.5vw;
} */

.list-items>li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.list-items>li {
    margin-left: 3%;

}

.list-items>li>a {
    all: unset;
    text-decoration: none;
    color: black;
    font-size: 1vw;
}

nav>ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;

}

nav>ul * {
    padding: .5%;

}


nav>ul>p {
    width: 100%;
    font-size: 2vw;
    letter-spacing: .05em;
    text-align: center;

    border-bottom: var(--bgclr);
}

corner {
    display: grid;
    grid-template-columns: 0.5fr 5fr 1fr 0.2fr;
    /* grid-template-rows: repeat(1, 1fr); */
    text-align: center;
    place-items: center;
    width: 90vw;
    margin: 2% auto;
}

corner>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vw;
    font-size: .9vw;
}

corner p {
    margin: .3vw;
}

.contacts {
    width: 100%;
}

.phone,
.addr {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.1vw;

}

.phone a,
.addr a {
    color: black;
    text-decoration: none;
    transition: .3s;
}

.phone:hover a,
.addr:hover a {
    color: var(--main-color) !important;
    transition: .3s;
}

.phone {
    font-size: 1.3vw;
}

.cart-icon {
    color: var(--main-color);
    font-size: 2.5vw;
}

.cart-icon:hover,
.cart-item-count:hover {
    cursor: pointer;
}

.search-bar {
    border-bottom: 2px solid #b7d9e1;
    width: 18vw;
    height: 3vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: .5vw;
}

.search-bar>* {
    font-size: 1.3vw;
}

.search-bar .search-input {
    outline: none;
    border: none;
    /* background-color: var(--bgclr); */
}

.search-bar:has(.search-input:focus) {
    border-bottom: 2px solid var(--main-color);
    transition: .3s;
}


.search-bar>#search-button:hover {
    cursor: pointer;
    transition: .1s;
    transform: scale(1.5);
}



#main-list {
    width: 80vw;
    margin: -3vw auto;
    display: grid;
}

#main-list>.list-header {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: 600;
    font-size: 2vw;
    margin: 6vw 0 2vw 0;
    letter-spacing: 1.5px;
    /* color: #0eb1d5; */
}

#main-list>.list-header::after {
    content: "";
    width: 80vw;
    margin-top: 1vh;
    border: 0.1vw solid var(--sub-main-color);
}

.flower-wrapper {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 25vw;
    margin: 0 auto;
    grid-gap: 1.3vw;
    padding: 3%;
}



.fl .flower-main-image {
    aspect-ratio: 1 / 1;
    width: 85%;
    margin: 2.5% auto;
    border-radius: 50%;
    background-color: var(--modal-color);
}

.discount-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flower-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.3vw;
    overflow: hidden;
}

.buy-flower {
    width: 7vw;
    height: 1.2vw;
    font-size: 1vw;
    text-align: center;
    padding: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: .8vw;
    border: 2px solid var(--button-color);
    background-color: var(--button-color);
    transition: .3s;
    align-self: center;
}

.buy-flower:hover {
    background-color: white;
    cursor: pointer;
    border: 2px solid var(--button-color);

    transition: .5s;

}

.search-list {
    width: 100%;
    background-color: #b7d9e1;
}

.search-list>li {
    display: none;
    justify-content: space-between;
    align-items: center;
    margin: 0 3%;
    padding: 1.5%;
}



.search-list>li:hover {
    text-decoration: underline;
    cursor: pointer;
}


.search-list>li>img {
    width: 25%;
    transition: .3s;
}


.buy-modal-wrapper,
.order-modal-wrapper {
    width: 100%;
    height: 100vh;
    background-color: rgba(44, 82, 105, .45);
    position: fixed;
    top: 0;
    z-index: 999;
    display: none;
    place-items: center;
}

.buy-modal,
.order-modal {

    width: 50%;
    /* height: 75%; */
    background-color: var(--modal-color);
    padding: 1vw;
    border-radius: 10px;
    z-index: 10;
    
}

.buy-modal .order-form {
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4,1fr);
    place-items: center;
}

.fl-main-carousel
{
    grid-column: 1/2;
    grid-row: 1/-1;
    width: 100%;
 
}

.flower-description
{
    width: 80%;
    height: 100%;
    grid-row: 2/4;
    grid-column: 2/-1;
    font-size: 1.1vw;
}

.buy-modal .order-form .flower-name {
    font-size: 2vw;
    width: 80%;
    
    grid-column: 2/-1;
    grid-row: 1/2;
}

.buy-modal .order-form .flower-image-modal {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    align-self: center;
    background-color: var(--main-color);
    margin: 0.2vw;
    /* border-radius: 50%; */
}

.buy-modal .order-form .flower-image-modal:first-child
{
    grid-row: 1/5;
    grid-column: 1/6;
}

.flower-image-carousel, .slider-nav
{
    /* grid-column: 1/3; */
    width: 20vw;
    /* margin-left: 5%; */
    /* border: 1px solid black; */
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-rows: repeat(5, 1fr); */
}

.buy-modal .order-form .order-button {
    background-color: var(--order-button-color);
    border: 2px solid var(--button-color);
    border-radius: .5vw;
    height: 90%;
    width: 80%;
    text-align: center;
    justify-self: right;
    transition: .3s;
}

.buy-modal .order-form .order-button:hover {
    border: 1px solid var(--order-button-color);
    background-color: white;
    transition: .3s;
    cursor: pointer;
}

.buy-modal .order-form .to-cart-button {
    background-color: var(--order-button-color);
    border: 1px solid var(--order-button-color);
    color: white;
    border-radius: .5vw;
    height: 90%;
    width: 80%;
    font-size: 1.3vw;
    text-align: center;
    justify-self: center;
    align-self: center;
    grid-column: 1/3;
    grid-row: 2/3;
}

.buy-modal .order-form .to-cart-button:hover {
    border: 1px solid var(--order-button-color);
    background-color: white;
    transition: .3s;
    cursor: pointer;
    color: black;
}

.buy-modal .order-form .flower-price {
    font-size: 1.4vw;
    justify-self: left;
}

.buy-modal .order-form .flower-count {
    font-size: 1.7vw;
    width: 15%;
    padding: 1.5%;
    text-align: center;
    justify-self: right;
}

.buy-modal .order-form .flower-count::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.fcw {
    justify-self: left;
}

.buy-modal .ui-grid {
    grid-column: 2 / -1;
    grid-row: 4/-1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 80%;
    height: 100%;
    place-items: center;
}

.buy-modal .ui-grid .flower-price
{
    font-size: 2vw;
}


.cart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    width: 10vw;
}


.cart-items {
    width: 5vw;
    list-style: none;
    height: 0;
    display: none;
    place-items: center;
}

.cart-items:first-child {
    border-top-left-radius: 5vw;
}

.cart-items>* {
    width: 15vw;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    font-size: .8vw;
    padding: 2%;
    display: none;
    background-color: var(--modal-color);
}

.cart-items .flower-image {
    width: 100%;
}

.cart-items p,
.fl-qp {
    display: grid;
    place-items: center;
    /* font-size: min(20em, 28vw); */
}

.cart-item-count {
    background-color: red;
    border-radius: 50%;
    width: 1.3vw;
    height: 1.3vw;
    margin: 0 auto;
    position: relative;
    right: 1.85vw;
    display: grid;
    place-items: center;
    vertical-align: middle;
}

.cart {
    display: flex;
}

.cart-order-button {
    border: 1px solid var(--button-color);
    background-color: var(--button-color);
    padding: 0.2vw 0.7vw;
    border-radius: .5vw;
    transition: .3s;
    width: 60%;
    grid-column: 1/-1;
    place-self: center;
}

.cart-order-button:hover {
    border: 1px solid var(--button-color);
    background-color: white;
    cursor: pointer;
    transition: .3s;
}

.edit-order-buttons {
    pointer-events: all;
}

.cart-item-flower {
    pointer-events: none;
}

.cart-item-flower img {
    pointer-events: all;
}

.cart-item-flower>p {
    pointer-events: all;
}

.cart-item-flower:hover {
    /* text-decoration: underline; */
    cursor: pointer;
}

.cart-item-flower {
    height: 1fr;
    display: none;
}

.swiper-pagination {
    pointer-events: none;
}

.edit-order-buttons {
    display: none;
    width: 90%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 150%;
    margin: 3%;
}

.edit-order-buttons>* {
    transition: .3s;
}

.edit-order-buttons>*:hover {
    transform: scale(1.5);
    transition: .3s;
}

.edit-order-buttons>.fa-pen {
    color: var(--button-color);
}

.edit-order-buttons>.fa-trash {
    color: rgba(255, 48, 48, 0.69);
}


.order-modal .header {
    font-size: 2vw;
}

.order-modal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 60% 30%;
    align-items: center;
    width: 30%;
    /* height: 75%; */
}

.order-modal .order-cart-items {
    width: 85%;
    height: 100%;
    padding: 1%;
    list-style: none;
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
    background-color: rgba(0, 0, 0, 0.1);
    /* border: 2px solid var(--main-color); */

}

::-webkit-scrollbar {
    opacity: 0;
    width: 0;
}

.order-item-flower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .5vw;
    font-size: 0.95vw;
}

.order-cart-items .flower-image {
    width: 20%;
}

.user-order-info {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.user-order-info form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 25% 30% 25% 20%;
    height: 80%;
    width: 90%;

}

.user-order-info form>* {
    width: 1fr;
    padding: 1%;
    font-size: 1vw;
    border: 0;
    border-bottom: 2px solid var(--modal-color);
    margin: 3%;
}

.user-order-info form>*:focus {
    border: 0;
    outline: none;
    border-bottom: 2px solid var(--main-color);
}

.user-order-info form button {
    grid-column: 1/3;
    height: 100%;
}

.user-order-info .time {
    font-size: 1.5vw;
    width: 25%;
    margin: 0 auto;
    height: 40%;
    padding: 3%;
}

.user-order-info .order-time {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}

.user-order-info .order-time>* {
    font-size: 90%;
    width: 30%;
}

.user-order-info .order-time>.date-time {
    width: 50%;
}

.ajs-message.ajs-visible {
    background-color: var(--main-color);
    border-radius: 10px;
}

.confirm-order-button:hover {
    cursor: pointer;
    border-bottom: 2px solid var(--main-color);
}


.discount-price {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;

}

.discount-price>.flower-price {
    font-size: 125%;
    color: red;
    /* justify-self: center; */
}

.flower-old-price {
    text-decoration: line-through;
    font-size: 70%;
}

.sale-banner {
    background-color: red;
    color: white;
    height: 2vw;
    position: absolute;
    bottom: 7.5vw;
    display: grid;
    place-items: center;
}

.order-checkboxes {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: repeat(2, 50%);
    margin: 0;
    padding: 0;
}

.order-checkboxes input {
    width: 40%;
}

footer {
    box-shadow: 0 0.6vw 0.6vw var(--bgclr);
    width: 100%;
    margin-top: 35vh;
    background-color: var(--bgclr);
    padding-top: 4vh;
}

.footer-header {
    text-align: center;
    font-weight: 600;
    font-size: 2.5vw;
}

footer .underline {
    content: "";
    width: 30%;
    height: 0.2vh;
    margin: 1% auto;
    background-color: var(--main-color);
}

.footer-topics {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 70%;
    margin: 4vw;
    margin-bottom: 0;
}

.topic-element {
    display: grid;
    grid-template-columns: 2fr 6fr;
    margin: 1vw;
    margin-top: 0;
    height: 90%;
}

.topic-element svg {
    width: 4vw;
    height: 4vw;
    justify-self: center;
    align-self: center;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    padding: 10%;
    margin: 15%;
}

.topic-element div {
    height: 60%;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.topic-element .topic-header {
    font-size: 140%;
}

.main-block {
    display: flex;
    justify-content: space-around;
    width: 90vw;

    margin: 0 auto;
}

.main-categories {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: fit-content;
    /* required */
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1.3vw;
    font-size: 1.5vw;
    font-weight: 500;

}

.main-categories>* {
    margin: 0.1vw;
    margin-bottom: 0.5vw;
}

.fp-items {
    flex: 5;
    /* grid-template-columns: repeat(4, 20%); */
    grid-template-columns: repeat(3, 18.8vw);
    justify-content: space-around;
    grid-auto-rows: 23vw;
    /* width: 85%; */
    /* margin: 0 auto; */
    grid-gap: 3vw;
}

.list-items {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.dropdown-menu-open {
    max-height: 200px;
    transition: all 0.3s ease;
}

.item-category > p
{
    font-size: 2vw; /**/
}
.item-subcategory > a
{
    font-size: 1.5vw;
}
.item-category:hover {
    color: var(--main-color);
    cursor: pointer;
}

.item-category arrow {
    font-size: 1.1vw;
}

/* .item-category > p:after
{
   content: '\2BC6';
   font-family: FontAwesome;
   font-weight: normal;
   font-style: normal;
   margin:0px 0px 0px 10px;
   text-decoration:none;
} */

.group {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-around;
    grid-auto-rows: 23vw;
    width: 85%;
    margin: 0 auto;
    grid-gap: 3vw;
}

.flower-main-image {
    width: 100%;
}

.fl {
    position: relative;
    padding: 0 3%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr 1.5fr;
    box-shadow: 0 0 0.6vw #ccc;
    border-radius: 2%;
}

.group-header>p {
    font-size: 3vw;

    margin-bottom: 2vw;
    border-bottom: 2px solid var(--main-color);
}

.group {
    margin-bottom: 5vw;
}

.slider-nav img
{
    aspect-ratio: 1/1;
    width: 100%;
    margin: 3%;
}

.slider-nav > *
{
    width: 100%;
    

}